body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #424242;
}
.h3{
	font-size: 15px;
}
/*********************************************************/
/**************** BEGIN NAVBAR STYLING *******************/
/*********************************************************/
.nav-title{
	border-bottom: 1px solid #d8d7d7;
	/*padding: 10px*/
    padding: 10px 10px 10px 15px;
    background-color: #EFEFEF;
    color: #337ab7;

}

.logo-box{
    background-color: #8BC34A;
    height: 64px;
    width: 17%;
    font-size: 25px;
    font-weight: bold;
    padding: 14px 0px 0px 70px;
    color: #fff;
}



.nav-sidebar .glyphicon{
	padding-right:5px;
}

.navbar{
	/*margin-bottom: 0px;*/
        min-height: 64px;
}

.navbar-default{
    background-image: none;
    background-color: #FAFAFA;
    border-radius: 0px;
}

/*********************************************************/
/****************** END NAVBAR STYLING *******************/
/*********************************************************/


/*********************************************************/
/*************** BEGIN SIDEBAR STYLING *******************/
/*********************************************************/
    .sidebar{
    	background-color:#26c6da;
    	padding-left: 0px;
        padding-right: 0px;
        border-right: 1px solid #d8d7d7;
        min-height: 100vh;

    }

    .side-bar-body a:hover{
        cursor: pointer;
        text-decoration: none;
    }

    .side-bar-body li{
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: none;
        color: #fff;
        padding-left: 40px;
        background-color: #00acc1;
        /*font-weight: 500;*/

    }
    .side-bar-body li:hover{
        background-color: #00bcd4;
    }

    .side-bar-body .glyphicon{
        /*font-size: 10px;*/
        color: #fff;
    }
    #side-bar .glyphicon{
        color: #fff;
    }
  

    .side-bar-body ul{
        padding-left: 0px;
        margin-bottom: 0px;
    }

    #side-bar .panel-body{
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    #side-bar .panel{
        border-radius: 0px;
        margin-top: 0px;
        border:none;
        box-shadow: none;
        -webkit-box-shadow:none;
    }

    #side-bar .panel-title a{
        color: #fff;
        text-decoration: none;
        font-size: 13px;
        /*font-weight: 500;*/
    }
    #side-bar .panel-default{
        border-radius: 0px;
        margin-top: 0px;
        border-color: transparent;
    }

    #side-bar .panel-heading{
        background-color: #26c6da;
        background-image: none;
        border-radius: 0px;
        border-bottom: none;
    }

    #page{
        min-height: 80vh;
        margin-top: 64px;
        background-color: #F1F1F1;
        padding-bottom: 20px;
    }

    .page-title{
        padding-bottom: 30px;
    }

/* 
 * all li have default padding we just put O to 
 * remove them inorder for the line to fit
*/
.nav-sidebar li{
	border-bottom: 1px solid #d8d7d7;
	padding:0px; 
}

.sidebar ul{
	padding: 0px;

}
/*.row col-md-2 {
	float: left;
}*/
/*.row col-md-10 {
float: right;
}*/
/*********************************************************/
/***************** END SIDEBAR STYLING *******************/
/*********************************************************/

/*********************************************************/
/***************** START MAP STYLING *******************/
/*********************************************************/

#map{
	width: 80%;
	margin-left: 18px;
	margin-top:20px;
	height: 400px;
	border: 1px solid #c3c3c3; 
}
/*********************************************************/
/***************** END MAP STYLING *******************/
/*********************************************************/

/*problem page*/
.white-data-table{
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0px 1px 1px 0 rgba(0, 0, 0, 0.12) !important;
     /*box-shadow: 10px 10px 5px #888888;*/
     border-radius: 4px;
}

/*********************************************************/
/***************** START UPDATE STATUS STYLING *******************/
/*********************************************************/

.history-problem-table{
	height: 300px;
	overflow: auto;
}

.history-problem-table .glyphicon-remove-circle{
	color: #FF0000;
}

.history-problem-table .glyphicon-ok-circle{
	color: #4AC948;
}


/*********************************************************/
/***************** END UPDATE STATUS STYLING *******************/
/*********************************************************/


/*********************************************************/
/***************** START FOOTER STYLING *******************/
/*********************************************************/

footer{
    height: 50px;
    border-top: solid 1px #cecece;
}

.copyright{
	padding-top: 10px;	
	text-align: center;
	color: #337ab7;
	font-weight: bold;
	font-size: 14px;

   /* margin: 0px auto;
    width: 200px;*/
}

/*********************************************************/
/***************** END FOOTER STYLING *******************/
/*********************************************************/
















/* Top Right Navigation Dropdown Styles */

 .navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    /*border:1px solid #fff;*/
    padding:2px 5px 2px 5px;
    background-color:white;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 250px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}





@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}






